#panels-dnd-main .sixteen.columns {
  width: 100%;
  float: left;
}

#panels-dnd-main .four.columns {
    width: 25%;
    float: left;
}

#panels-dnd-main .eight.columns {
    width: 50%;
    float: left;
}
